<section class="jumbotron todolist-jumbotron">
    <h1>
        ToDoList++
    </h1>
</section>
<section class="container todolist-container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="frmcontainer">
                <h4 class="frmhead">
                    <i class="fas fa-user fa-transparent"></i> Iniciar Sessión
                </h4>
                <section class="frmsection">
                    <form class="form frmlogin" name="frmlogin" id="frmlogin">
                        <div class="form-group">
                            <input type="text" id="username" name="username" placeholder="Nombre de Usuario" class="form-control todolist-form-control" />
                        </div>
                        <button type="button" class="btn todolist-btn-primary">Enviar</button>
                    </form>
                </section>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        </div>
    </div>
</section>